.main-body{

    width: 100%;
    height: 100%;
    
    
}
.header-main-body{
    display: flex;
    height: 30px;
    padding: 0px 0px 0px 50px;
    border-radius: 10px;
    border-bottom: 1.5px solid #2ac420;
}

.icon{
    flex: 0.1; 
    
}
.title{
    flex: 1;
    text-align: center;
    font-size: 15pt;
    padding-top: 4px ;
  
}

.tabs-main{
    display: none;
}

.tabs{

display: flex;
margin: 5px 20px 5px 20px;
height: 30px;
border-radius: 10px;
    border-top: 1.5px solid #2ac420;
    border-bottom: 1.5px solid #2ac420;
}

.tab-options{
    height: 20px;
    flex: 1;
    align-items: center;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
    
}
.tab-options:hover{
    transform: scale(1.15);
}


.main-body-list{

border: 1px solid black;
margin: 15px 20px 15px 20px;
height: 460px;



}
