header {
  height: 40px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0);
  border-radius: 0px 0px 20px 20px;
  border-bottom: 1.5px solid #2ac420;
  background-color: #e9f9e8;
}

header svg {
  display: block;
  width: 100%; height: 100%;

}
